<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BallHistoryMapper">
  <select id="getHistoryByDataNo" resultType="model.BallHistory">
    select red_1, red_2, red_3, red_4, red_5, red_6 from Ball_History where Date_No = #{dateNo}
  </select>
</mapper>